[submodule "repos/tyrannical"]
	path = repos/tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "repos/awesome_vicious"]
	path = repos/awesome_vicious
	url = http://git.sysphere.org/vicious
[submodule "repos/dropbox_uploader"]
	path = repos/dropbox_uploader
	url = https://github.com/andreafabrizi/Dropbox-Uploader.git
[submodule "repos/me_git_backup"]
	path = repos/me_git_backup
	url = https://github.com/mitthu/git_backup
